@{
    ViewData["Title"] = "Abonamente";
}

<div class="text-center">
    <h1 class="display-4">Abonamente</h1>
    <p>Aici vom implementa sistemul de abonamente pentru a facilita functionalitatiile aplicatiei</p>
</div>
