@{
    ViewData["Title"] = "Acasa";
}

<div class="text-center">
    <h1 class="display-4">TransBuc</h1>
    <p>Bine ati venit pe pagina principala a companiei de transport TransBuc. Ne pregatim sa va oferim cele mai bune servicii la un pret corect</p>
</div>
